
<footer class="pageFooter">

  <div class="container">

    <div class="row">


      <div class="col-sm-6">
        <h3>OM ADL</h3>
        <div class="list-group">
          <%= link_to 'Om ADL', page_path('about') , class:'list-group-item' %>
          <%= link_to 'Cookies og Privatlivspolitik', page_path('politik'), class:'list-group-item' %>
        </div>
      </div>
      <div class="col-sm-6"></div>

    </div>

  </div>

  <div style="background: darkgrey; color: #FFF;">
  <div class="container">
    <div class="col-sm-12 text-center"  >
      <h2>Sammarbejde</h2>

    </div>

  </div>

  </div>
</footer>

</footer>

