<!doctype html>
<html>
  <head>
    <meta charset='utf-8'/>
    <% wicked_pdf_stylesheet_link_tag "pdf" %>
    <% wicked_pdf_javascript_include_tag "number_pages" %>

    <div id="pdf_header">
      <%= @document['author_name_ssim'].first+',' unless @document['author_name_ssim'].blank? %>
      <i><%= @document['volume_title_tesim'].first+',' unless @document['volume_title_tesim'].blank? %></i>
      <%= @document['date_published_ssi'] unless @document['date_published_ssi'].blank? %>
    </div>
  </head>
</html>