<article class="container">


  <!-- Article header start: -->
  <header class="page-header">
    <h1 itemprop="headline"><span class="glyphicon glyphicon-warning-sign"></span> Cookie- og Privatlivspolitik
    </h1></header>
  <h3>Derfor bruger Det Kongelige Bibliotek cookies</h3>
  <p>For at kunne give dig en målrettet oplevelse
    bruger vi cookies til at identificere adfærd og præferencer. Fx lægger vi en cookie, hvis du ønsker at ændre
    størrelsen på fonten, så dette huskes når der klikkes videre, og du dermed undgår at skulle ændre til større font
    ved hvert sideskift. Desuden benytter vi også cookies hvis du logger ind. Dette betyder fx at du kan blive
    identificeret i søgesystemet, REX, så du kan bestille bøger, få adgang til at gemme søgninger og i det hele taget
    udnytte de funktionaliteter systemet stiller til rådighed. Sidst, men ikke mindst, bruger vi cookies til at måle
    trafikken på sitet for derved at kunne forbedre brugeroplevelsen og udvikle nye services.</p>

  <h3>Samtykke</h3>
  <p>Ved at blive på Det Kongelige Biblioteks websider, accepterer du at vi bruger cookies
    til ovenstående formål. Du kan på et hvilket som helst tidspunkt vælge at gå væk fra vores websider og slette alle
    cookies i din browser. Da vi mener at det ovenstående er en så central del af vores ydelser, har vi valgt ikke at
    stille alternative cookiefri tjenester til rådighed.</p>
  <h3>Hvad kan du selv gøre hvis du vil undgå cookies?</h3>
  <p>Som udgangspunkt har du selv 100% kontrol
    over, hvilke cookies der bliver gemt på din computer. Du kan læse mere om hvordan du kontrollerer cookies på
    <a href="http://minecookies.org/cookiehandtering" target="_self">http://minecookies.org/cookiehandtering</a></p>


  <ol>
    <li>
      <h4>Ejeroplysninger</h4>
      <p>
      <address>
        <strong>Det Kongelige Bibliotek </strong><br>
        Postbox 2149<br>
        DK-1016 København K<br>
        <abbr title="Telefon">Telefon:</abbr> (+45) 33 47 47 47 <br>
        <a href="mailto:kb@kb.dk"><span class="glyphicon glyphicon-envelope"></span> kb@kb.dk</a>
      </address>
    </li>
    <li>
      <h4>Cookies</h4>
      <p>Dette website anvender cookies i henhold til ovenstående formål. En cookie er en
        lille tekstfil, der lagres i din browser for at kunne genkende din computer ved tilbagevendende besøg. Der er ingen
        personlige oplysninger gemt i vores cookies og de kan ikke indeholde virus.</p>
      <ol>
        <li>
          <p><strong>Så lang tid opbevares cookies</strong><br>Cookies sletter sig selv efter et vist antal måneder (kan
            variere), men de fornyes efter hvert besøg.</p>
        </li>
        <li>
          <p><strong>Sådan sletter du cookies</strong><br>Se vejledning her:
            <a href="http://minecookies.org/cookiehandtering" target="_self">http://minecookies.org/cookiehandtering </a></p>
        </li>
        <li>
          <p><strong>Sådan undgår du cookies</strong><br>Hvis du ikke ønsker at modtage cookies kan du blokere dem. Se
            vejledning her:
            <a href="http://minecookies.org/cookiehandtering." target="_self">http://minecookies.org/cookiehandtering.</a></p>
        </li>
        <li>
          <p><strong>Google Analytics (trafikmåling)</strong><br>Websitet bruger cookies fra Google Analytics til at måle
            trafikken på websitet. Du kan fravælge cookies fra Google Analytics her:
            <a href="http://tools.google.com/dlpage/gaoptout" target="_self">http://tools.google.com/dlpage/gaoptout </a></p>
        </li>
        <li>
          <p><strong>Sådan sletter du cookies</strong><br>Se vejledning her:
            <a href="http://minecookies.org/cookiehandtering" target="_self">http://minecookies.org/cookiehandtering </a></p>
        </li>
      </ol>
    </li>
    <li>
        <h4>Personoplysninger</h4>
      <p>Det Kongelige Bibliotek henter og opdaterer oplysninger om adresser fra
        CPR-registeret. Derudover overføres oplysninger om CPR-numre og institutionelle tilhørsforhold fra Københavns
        Universitet og relevante hospitaler. Det Kongelige Bibliotek bruger disse oplysninger til at&nbsp;lave automatiske
        brugeroprettelser. Når en bruger har fået sit institutionelle tilhørsforhold tilknyttet, bruger vi oplysningerne til
        at give adgang til de ressourcer som er relevante for brugeren. Derudover kan brugeren selv oplyse telefonnummer og
        e-mailadresse(r), der bruges til servicebeskeder.</p>
    </li>
    <li>
      <h4>Brug af personoplysninger</h4>
      <p>Personoplysninger afgives aldrig til tredjepart med mindre du
        selv udtrykkeligt giver tilsagn hertil, og vi indsamler aldrig personoplysninger, uden at du selv har givet os disse
        oplysninger ved registrering, køb eller deltagelse i en undersøgelse m.v. Her indsamles oplysninger om navn,
        adresse, postnummer, e-mail, køn, alder, interesser, holdninger og kendskab til forskellige emner. Personoplysninger
        bruges til at gennemføre det køb eller den service, som oplysningerne er indsamlet i forbindelse med. Oplysningerne
        bruges derudover til at få større kendskab til dig og øvrige brugere af websitet. Denne brug kan bl.a. omfatte
        undersøgelser og analyser, der er rettet mod en forbedring af vore produkter, tjenester og teknologier, samt visning
        af indhold og reklamer, der er tilpasset dine interesser og hobbyer.</p>
    </li>
    <li>
      <h4>Kontakt vedr. personoplysninger</h4>
      <p>Hvis du ønsker adgang til de oplysninger, som er
        registreret hos Det Kongelige Bibliotek, skal du rette henvendelse
        til<a href="mailto:webmaster@kb.dk" target="_self"> webmaster@kb.dk</a>. Er der registreret forkerte data, eller har
        du andre indsigelser, kan du rette henvendelse samme sted. Du har mulighed for at få indsigt i, hvilke informationer
        der er registreret om dig, og du kan gøre indsigelse mod en registrering i henhold til reglerne i Persondataloven.
      </p>
    </li>
    <li>
      <h4>Beskyttelse af personoplysninger</h4>
      <p>følge persondataloven skal dine personlige oplysninger
        opbevares sikkert og fortroligt. Vi gemmer dine personlige oplysninger på computere med begrænset adgang, som er
        placeret i kontrollerede faciliteter, og vores sikkerhedsforanstaltninger kontrolleres løbende for at afgøre, om
        vores brugeroplysninger håndteres forsvarligt, og under stadig hensyntagen til dine rettigheder som bruger. Vi kan
        dog ikke garantere 100% sikkerhed ved dataoverførsler via internettet. Det betyder, at der kan være en risiko for,
        at andre uberettiget tiltvinger sig adgang til oplysninger, når data sendes og opbevares elektronisk. Du afgiver
        således dine personlige oplysninger på eget ansvar. Personoplysninger slettes eller anonymiseres løbende efterhånden
        som det formål, de blev indsamlet til, afsluttes. Personoplysninger gemmes højst i 12 måneder efter brug. Den
        hurtige udvikling af internettet betyder, at ændringer i vores behandling af personoplysninger kan blive nødvendige.
        Vi forbeholder os derfor ret til at opdatere og ændre nærværende retningslinjer for behandling af personoplysninger.
        Gør vi det, retter vi selvfølgelig datoen for "sidst opdateret"&nbsp;på siden. I tilfælde af væsentlige ændringer
        giver vi dig besked i form af en synlig meddelelse på vores websites. I det omfang, der behandles personoplysninger
        om dig, har du ifølge persondataloven ret til at få oplyst, hvilke personoplysninger, der kan henføres til dig.
        Såfremt det viser sig, at de oplysninger eller data, der behandles om dig, er urigtige eller vildledende, har du ret
        til at kræve disse berigtiget, slettet eller blokeret. Du kan til enhver tid gøre indsigelse mod, at oplysninger om
        dig gøres til genstand for behandling. Du kan også til enhver tid tilbagekalde dit samtykke. Du har mulighed for at
        klage over behandlingen af oplysninger og data vedrørende dig. Klage indgives til Datatilsynet, jf. persondatalovens
        § 58, stk. 1.</p>
    </li>
  </ol>


</article>