<div class="homeSearch box-gradient-blue fixed-top-second" >

 <div class="search-bg">
  <div class="container">
    <div class="row text-center">

      <h2>
        Velkommen til Arkiv for Dansk Litteratur
      </h2>
      <h3>
        Her kan du læse og søge i værker fra den danske litteraturhistorie fra middelalderen til det 20. årh.
      </h3>

      <!--<div class="row divider-space">-->
        <!--<div class="col-md-12">-->
          <!--<div class="divider clearfix">-->
            <!--<div class="left"></div>-->
            <!--<div class="midt"></div>-->
            <!--<div class="right"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

        <!--<div class="well well-lg ">-->
          <%= render 'simple_search_form' %>
          <!--<a href="/?f[cat_ssi][]=person&sort=author_ssi+asc"  class="btn btn-link btn-lg" href="#" role="button">Se forfatteroversigt</a>-->
        <!--</div>-->
    </div>
  </div>
 </div>
</div>

<div class="container frontpage-content">
  <div class="row">
    <div class="frontpage">

      <div class="col-md-4">
        <div class="link-block-content ">
          <div class="image image1 img-thumbnail">
          </div>
          <div class="text">
            <h3>          
              <%= link_to  "Forfattere", authors_path, :class => "btn btn-link btn-lg"  %>
            </h3>
            <p>Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter Forfatter </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="link-block-content ">
          <div class="image2 image img-thumbnail">
          </div>
          <div class="text">
            <h3>          
              <%= link_to  "Perioder", '', :class => "btn btn-link btn-lg"  %>
            </h3>
            <p>time periods time periods time periods time periods time periods time periods time periods time periods time periods time periods </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 frontpage-content-box">
        <div class="link-block-content ">
          <div class="image3 image img-thumbnail">
          </div>
          <div class="text">
            <h3>
              <a class="btn btn-link btn-lg">Titel</a>
            </h3>
            <p>Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel Titel</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




