
<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">

    <%= content_tag(:h1, application_name, class: "brand") %>
    <div class="searchHome">
      <div>
        <%= render 'catalog/search_form' %>
      </div>
      <div class="text-center">
        <p class="lead">
          <a href="/?f[cat_ssi][]=person&sort=author_ssi+asc">Forfatteroversigt</a>
        </p>
      </div>
    </div>
</div>

