<div class="homeSearch box-gradient-blue fixed-top-second" >
 <div class="search-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="text-center well well-lg ">
          <%= render 'simple_search_form' %>
          <%= link_to  "Forfattere", authors_path, :class => "btn btn-link btn-lg"  %>
          <%= link_to  "Perioder", '', :class => "btn btn-link btn-lg"  %>
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="link-block-content ">
          <div class="image2 image img-thumbnail">
          </div>
          <div class="text">
            <h3>          
              <%= link_to  "Perioder", '', :class => "btn btn-link btn-lg"  %>
            </h3>
            <p>time periods time periods time periods time periods time periods time periods time periods time periods time periods time periods </p>
          </div>
        </div>
      </div>

  </div>
</div>




