<% document ||= @document %>
<% doc_presenter = show_presenter(document) %>
<% document_empty ||= !FileServer.author_portrait_has_text(document.id) %>

<% # bookmark/folder functions -%>


<div class="container workHeaderFixContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="workHeader">
        <h1><span class="glyphicon glyphicon-file"></span> <%= document['work_title_tesim'].first %></h1>
        <dl class="dl-horizontal  dl-invert">
          <dt class="blacklight-author_name_tesim">Forfatterportræt af</dt>
          <dd class="blacklight-author_hame_tesim"><%= doc_presenter.field_value "author_tesim" %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>



