<% document ||= @document %>
<% doc_presenter = show_presenter(document) %>
<% # bookmark/folder functions -%>
<div class="page-header">
<div class="container workHeaderFixContainer search-bg">
  <div class="row">
    <div class="col-md-12">
        <h2><span class="glyphicon glyphicon-file"></span> <%= document['work_title_tesim'].first %></h2>
        <dl class="dl-horizontal  dl-invert">
          <dt class="blacklight-author_name_tesim">Periode beskrivelse af</dt>
          <dd class="blacklight-author_name_tesim"><%= doc_presenter.field_value "author_name_tesim" %></dd>
          <dt class="blacklight-author_name_tesim">Forfattere i ADL</dt>
          <dd>
          <% @auth_docs.each do |doc| %>
            <%= link_to doc['work_title_tesim'].join, solr_document_path(doc['id']) %>
            <% end %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>



