<%# default partial to display solr document fields in catalog show view -%>
<% doc_presenter = show_presenter(document) %>
<div class="text-content">

  <div class="period-writers-list text-center">
      <%= link_to "Værkliste i ADL", "/?utf8=✓&search_field=author&q=#{document['work_title_tesim'].try(:join)}", :class => "works-in-adl" %>
  </div>

<div class="row divider-space">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="divider clearfix">
      <div class="left"></div>
      <div class="midt"></div>
      <div class="right"></div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

    <div class="text">
        <dl class="dl-horizontal  dl-invert">
          <dt class="blacklight-author_name_tesim">Forfatterportræt af</dt>
          <dd class="blacklight-author_name_tesim"><%= doc_presenter.field_value "author_name_tesim" %></dd>
        </dl>
        <% text ||= FileServer.render_snippet(document.id,{c: 'authors'}) %>
        <%= text.html_safe %>
      </div>
    </div>


