<%# default partial to display solr document fields in catalog show view -%>
<div id="toc" style="display: none;">
  <%= FileServer.toc(document.id) %>
</div>

<% if document.has_text? %>
    <div class="text-content">
      <div class="worksearch" style="display: none;">
        <%= render partial: 'work_search', locals: {document: document} %>
      </div>
      <div class="text">
        <% text ||= FileServer.render_snippet(document.id) %>
        <%= text.html_safe %>
      </div>
    </div>
<% else %>
    <div>
      <%= t '.no_text' %>
    </div>
<% end %>