<%# default partial to display solr document fields in catalog show view -%>
<div class="text-content">
  <div class="text">
    <% vol = document['volume_id_ssi'] %>
    <% text ||= FileServer.render_snippet(document.id) %>
    <%= text_with_image_links(text, vol).html_safe %>
  </div>
</div>