<div class="container workWrapper">
  <div class="row">
<div id="sidebar" class="<%= show_sidebar_classes %>">
  <%= render_document_sidebar_partial %>
</div>


<div id="content" class="<%= show_content_classes %> col-md-offset-3 col-sm-offset-4">
  <%= render_document_main_content_partial %>
</div>
  </div>
</div>

