//#content{
//  //height:144px;
//  //padding-top: 0 !important;
//  .well, .well-lg {
//    padding-top: 0 !important;
//    form{
//      padding-top: 24px;
//      padding-bottom: 24px;
//    }
//  }
//}
#content, .homeSearch , .search-body-content{

  //height: 350px;
  //background:transparent url(asset-path('bg.jpg')) repeat center center;

.container{


}
  .well{
    //border: none;
    //background:$gray-lighter;
    background: transparent;
    border:0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.77);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.77);

    select{
      margin-right:$grid-gutter-width;
    }
  }
  .btn-link{
  //  text-decoration: underline;
    margin-bottom:$grid-gutter-width;
  }
}
.homeSearch .container .well{
  //margin-top: 110px;

}


