body {
  color: #000;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  background-color: #fff;
  background-image: url(asset-path('lion-big-brown-repeatable.png'));
  background-position: center 350px;
  background-repeat: repeat-x;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}

.navbar-fixed-top { // Correcting top bar
  background-color:#FFFFFF;
  height: 88px;
  .container{
    padding-top: 19px;
    padding-bottom: 19px;
    height: 64px;
  }

}
#body-content{ // correcting body area size
  min-height: 650px;
}
a { // Not underline anything and no background
  background: transparent;
  text-decoration: none;
  &:hover{
    color: $navbar-default-link-hover-color;
  }
}

#search{
    background: linear-gradient(to bottom, rgba(88,135,38,1) 0%,rgba(51,98,1,1) 100%);
}

.navbar-inverse{
  border: none !important;
  .navbar-nav  > li > a, .navbar-brand {
    color: $navbar-default-link-color;

  }
}
.navbar-fixed-top  a{
  &:hover{
    color: $navbar-default-link-hover-color !important;
  }
}
.badge{
  background-color: #458402;
}
.navbar .navbar-nav {
  text-transform: none;
}
.navbar-brand{
  font-weight: 500;
  font-size: 22px;
}

.document{
  border:thin solid #f2eee2 ;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  background-color:rgba(242, 238, 226, .5) ;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.box-gradient-blue{
  //padding:20px;
  background: linear-gradient(to bottom, rgba(36, 82, 112, 1) 0%, rgba(24, 55, 75, 1) 100%);
}

.search-bg{
  background: url(asset-path('lion-big-white.png')) no-repeat;
  background-position: center;
  height: inherit;
}
.fixed-top-second{
  width: 100%;
  position: fixed;
  z-index: 1031;
}
.search-not-main{
  height: 94px;
  top:88px;
  left: 0px;

}
#content{
  min-height: 500px;
  margin-top: 94px;
  .header-container{
    position: relative;
  }
  .page-header{
    @extend .box-gradient-blue;
    position: fixed;
    width:100%;
    top:88px;
    margin: 0;
    left: 0;
    height: 94px;
    color: #dcd2ab;
    font-size: 25px;
    font-weight: normal;
    dl{
      font-size: 14px;
    }
  }
  .page-header-in-pages-with-searchbox{
    height: 100px;
    h3{
      @extend .pull-left;
      width: 70%;
    }
    .btn{
      margin-top: 20px;
    }
  }
}

.homeSearch{
  height: 323px;

  color: #dcd2ab;
  font-size: 25px;
  font-weight: normal;
  h2{
    padding-top: 35px;
  }

  h3{
    color: #fff;
    font-size: 18px;
  }

  form {
    padding-top: 50px;
    width: 80%;
    margin: auto;
  }
}

a[name]::before {
  display: block;
  content: " ";
  margin-top: -195px;
  height: 195px;
  visibility: hidden;
}

.bookmark_toggle {
  float: right;

  .btn {
    display: none;
  }
  .bookmark_remove_label{
    color: #dcd2ab !important;
    cursor: pointer;
    &:hover{
      color: rgba(88,135,38,1) !important;
    }
  }
  .bookmark_add_label{
    color: rgba(88,135,38,1) !important;
    cursor: pointer;
    &:hover{
      color: #dcd2ab !important;
    }
  }
}

.content-header{
  padding: 1em;
  margin: 1em;
}

.page_links{
  @extend .pull-left;
}
.search_q {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.constraint{
  text-indent: 0 !important;
}

.divider-space {
  padding: 18px 0 18px 0;
}

.divider .left,
.divider .midt,
.divider .right {
  position: relative;
  float: left;
  height: 2px;
}
.divider .left {
  width: 25%;
  background: url(asset-path('divider-left.png')) no-repeat;
}
.divider .midt {
  width: 50%;
  background: url(asset-path('divider-repeat.png')) repeat-x;
}
.divider .right {
  width: 25%;
  background: url(asset-path('divider-right.png')) no-repeat;
}
#bookmarks_nav .badge{
  background-color:#dcd2ab;
}
.frontpage-content-box {
  margin-bottom: 30px;
  border-radius: 1em;
}

.image1 {
  background: url(asset-path('author.jpg')) no-repeat;
}
  .image2 {
    background: url(asset-path('time-period.jpg')) no-repeat;
  }
  .image3 {
    background: url(asset-path('book-title.jpg')) no-repeat;
  }
.image{
    background-position: top;
    height: 150px;
    width: 100%;
    padding: 20px 15px;
    border-radius: 25px 25px 0 0;
  }
  .text{
    h3{

      color: #000;
      font-size: 18px;
      font-weight: 400;
      line-height: 10px;
      margin: 5px 0;
      //margin-bottom: 15px;
      a{
        padding: 0;
        border: 0;
      }
    }
    padding: 20px 15px;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
  }

.link-block-content {
  height: 330px;
  border: thin solid #f2eee2;
  margin: 1em;
  border-radius: 25px;
  background-color: rgba(242, 238, 226, 0.5);
}

.frontpage-content {
  margin-top: 350px;
}.pageFooter{
  .footer {
    font-size: 12px;
  }
}