.search{
  padding: $grid-gutter-width 0;
  select{
    margin-right:$grid-gutter-width;
  }
}

/*Zero result text */
#sortAndPerPage .page_entries{
  display:block;
  @extend .lead;
  margin-bottom:$grid-gutter-width;
}